// Color
.primary {
	color: $primary;
}
.secondary {
	color: $secondary;
}
.text {
	color: $text;
}
.soft-gray {
	color: $soft-gray;
}
.white {
	color: $white;
}
.black {
	color: $black;
}
.success {
	color: $success;
}
.danger {
	color: $danger;
}
.warning {
	color: $warning;
}


// Background color
.bg--primary {
	background-color: $primary;
}
.bg--secondary {
	background-color: $secondary;
}
.bg--text {
	background-color: $text;
}
.bg--white {
	background-color: $white;
}
.bg--soft-gray {
	background-color: $soft-gray;
}
.bg--success {
	background-color: $success;
}
.bg--danger {
	background-color: $danger;
}
.bg--warning {
	background-color: $warning;
}


// Border color
.border--primary {
	border: solid 1px $primary;
}
.border--secondary {
	border: solid 1px $secondary;
}
.border--text {
	border: solid 1px $text;
}
.border--soft-gray {
	border: solid 1px $soft-gray;
}
.border--success {
	border: solid 1px $success;
}
.border--danger {
	border: solid 1px $danger;
}
.border--warning {
	border: solid 1px $warning;
}