// Line height
$lh: 26px;

// Colors
$white: #ffffff;
$black: #000000;
$primary: #00B761;
$secondary: #1C4D42;
$text: #313131;
$success: #34DC9F;
$danger: #FF554B;
$warning: #FFD66C;
$soft-gray: #E1F2EA;

// Fonts
$ff1: 'Inter', sans-serif;